# Build artifacts
liveraid
src/*.o
src/*.d
src/version.c
build_number.txt

# Leftover build artifacts
snaplive
snaplive_asan

# Runtime files
*.content
*.bitmap
*.ctrl
*.parity
*.2parity
*.3parity
*.4parity
*.5parity
*.6parity
